Repository automationaddict/skeys: changes, and which Codecov flags are due for each by the changed paths.
All: go, flutter

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "0...100"

  status:
    project:
      default:
        # Report only, don't fail CI
        informational: true
        target: 70%
      go:
        flags:
          - go
        informational: true
        target: 70%
      flutter:
        flags:
          - flutter
        informational: true
        target: 70%
    patch:
      default:
        # Report only, don't fail CI
        informational: true
        target: 50%

flags:
  go:
    paths:
      - skeys-core/
      - skeys-daemon/
    carryforward: true
  flutter:
    paths:
      - skeys-app/lib/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false

ignore:
  # Generated code
  - "skeys-app/lib/core/generated/**"
  - "skeys-daemon/api/gen/**"
  # Test files
  - "**/*_test.go"
  - "**/test/**"

test: add comprehensive unit tests for skeys-core packages
  skeys-core/agent/agent_test.go
  skeys-core/broadcast/broadcaster_test.go
  skeys-core/config/client_test.go
  skeys-core/config/discovery_test.go
  skeys-core/config/server_test.go
  skeys-core/config/watcher_test.go
  skeys-core/executor/executor_test.go
  skeys-core/hosts/authorized_keys_test.go
  skeys-core/hosts/known_hosts_test.go
  skeys-core/logging/logging_test.go
  skeys-core/remote/remote_test.go
  skeys-core/sshconfig/manager_test.go
  skeys-core/storage/storage_test.go
  skeys-core/system/system_test.go
  skeys-core/update/update_test.go
Due: none

chore: bump build number to 0.0.4+2
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  SUPPORT.md
  assets/skeys.png
  skeys-app/analysis_options.yaml
  skeys-app/pubspec.yaml
  skeys-app/test/features/agent/bloc/agent_bloc_test.dart
  skeys-app/test/features/config/bloc/config_bloc_test.dart
  skeys-app/test/features/hosts/bloc/hosts_bloc_test.dart
  skeys-app/test/features/keys/bloc/keys_bloc_test.dart
  skeys-app/test/mocks/mocks.dart
  skeys-app/test/mocks/test_helpers.dart
  skeys-daemon/go.mod
  skeys-daemon/go.sum
  skeys-daemon/internal/adapter/agent_test.go
  skeys-daemon/internal/adapter/config_test.go
  skeys-daemon/internal/adapter/hosts_test.go
  skeys-daemon/internal/adapter/keys_test.go
  skeys-daemon/internal/adapter/metadata_test.go
  skeys-daemon/internal/adapter/version_test.go
  skeys-daemon/internal/server/interceptors_test.go
Due: go

feat: add include patches toggle for update settings
  .githooks/pre-commit
  CHANGELOG.md
  cliff.toml
  proto/skeys/v1/update.proto
  skeys-app/lib/core/generated/skeys/v1/update.pb.dart
  skeys-app/lib/core/generated/skeys/v1/update.pbjson.dart
  skeys-app/lib/core/settings/settings_dialog.dart
  skeys-app/pubspec.yaml
  skeys-core/update/manager.go
  skeys-core/update/update_test.go
  skeys-daemon/api/gen/skeys/v1/update.pb.go
  skeys-daemon/internal/adapter/hosts_test.go
  skeys-daemon/internal/adapter/update.go
Due: go, flutter

fix: remove unused imports in Flutter test files
  skeys-app/CHANGELOG.md
  skeys-app/test/features/agent/bloc/agent_bloc_test.dart
  skeys-app/test/features/config/bloc/config_bloc_test.dart
  skeys-app/test/features/hosts/bloc/hosts_bloc_test.dart
  skeys-app/test/features/keys/bloc/keys_bloc_test.dart
Due: none

fix: improve gRPC connection resilience for long-running sessions
  skeys-app/lib/core/backend/daemon_status_service.dart
  skeys-app/lib/core/grpc/grpc_client.dart
  skeys-app/lib/features/agent/bloc/agent_bloc.dart
  skeys-app/lib/features/config/bloc/config_bloc.dart
  skeys-app/lib/features/hosts/bloc/hosts_bloc.dart
  skeys-app/lib/features/keys/bloc/keys_bloc.dart
  skeys-app/lib/features/remote/bloc/remote_bloc.dart
  skeys-app/lib/features/server/bloc/server_bloc.dart
  skeys-app/test/features/agent/bloc/agent_bloc_test.dart
  skeys-app/test/features/config/bloc/config_bloc_test.dart
  skeys-app/test/features/hosts/bloc/hosts_bloc_test.dart
  skeys-app/test/features/keys/bloc/keys_bloc_test.dart
  skeys-app/test/mocks/mocks.dart
  skeys-daemon/internal/server/server.go
Due: go, flutter

build: automate version and build number in CI
  .github/workflows/release.yml
  skeys-app/pubspec.yaml
Due: none

fix: resolve UI freeze when adding keys to SSH agent
  docker-compose.yml
  skeys-app/lib/core/backup/export_dialog.dart
  skeys-app/lib/features/agent/bloc/agent_bloc.dart
  skeys-app/lib/features/agent/bloc/agent_event.dart
  skeys-app/lib/features/agent/bloc/agent_state.dart
  skeys-app/lib/features/config/bloc/config_bloc.dart
  skeys-app/lib/features/config/presentation/widgets/global_directive_dialog.dart
  skeys-app/lib/features/config/presentation/widgets/server_directive_dialog.dart
  skeys-app/lib/features/config/presentation/widgets/ssh_config_dialog.dart
  skeys-app/lib/features/hosts/bloc/hosts_bloc.dart
  skeys-app/lib/features/keys/bloc/keys_bloc.dart
  skeys-app/lib/features/keys/presentation/widgets/add_to_agent_dialog.dart
  skeys-app/lib/features/keys/presentation/widgets/generate_key_dialog.dart
  skeys-app/lib/features/keys/presentation/widgets/test_connection_dialog.dart
  skeys-app/lib/features/remote/bloc/remote_bloc.dart
  skeys-app/lib/features/server/bloc/server_bloc.dart
  skeys-app/pubspec.lock
  skeys-app/pubspec.yaml
  skeys-daemon/internal/server/server.go
Due: go, flutter

feat: separate dev and prod SSH agent sockets
  CHANGELOG.md
  docker-compose.yml
  justfile
  skeys-daemon/internal/server/server.go
Due: go

fix: show first-start dialog after reinstall and use XDG runtime dir
  CHANGELOG.md
  scripts/install.sh
  scripts/uninstall.sh
  skeys-app/lib/core/backend/backend_launcher.dart
  systemd/skeys-daemon.service
Due: flutter

docs: add component READMEs and improve network error feedback
  CHANGELOG.md
  skeys-app/README.md
  skeys-app/lib/features/keys/presentation/widgets/add_to_agent_dialog.dart
  skeys-core/README.md
  skeys-daemon/README.md
Due: go, flutter

feat: add help tooltips and search to SSH config UI
  CHANGELOG.md
  skeys-app/lib/features/config/domain/sshd_directives.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/config/presentation/widgets/global_directive_dialog.dart
  skeys-app/lib/features/config/presentation/widgets/server_config_tab.dart
  skeys-core/config/client.go
Due: go, flutter

feat: add help tooltips to client config global directives
  CHANGELOG.md
  skeys-app/lib/features/config/domain/ssh_client_directives.dart
  skeys-app/lib/features/config/presentation/config_page.dart
Due: flutter

fix: make help tooltips scrollable on smaller screens
  CHANGELOG.md
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/config/presentation/widgets/global_directive_dialog.dart
  skeys-app/lib/features/config/presentation/widgets/server_config_tab.dart
Due: flutter

chore: update changelog for v0.0.6
  CHANGELOG.md
Due: none

fix: add missing @override annotation in test mocks
  skeys-app/test/mocks/mocks.dart
Due: none

fix: add missing @override annotation in test mock
  CHANGELOG.md
  skeys-app/test/mocks/mocks.dart
Due: none

feat: improve settings dialog with new features and UI enhancements
  CHANGELOG.md
  scripts/install.sh
  skeys-app/assets/docs/settings-about.md
  skeys-app/assets/docs/settings-display.md
  skeys-app/assets/docs/settings-logging.md
  skeys-app/assets/docs/settings-system.md
  skeys-app/assets/docs/settings-update.md
  skeys-app/assets/images/go_logo.png
  skeys-app/lib/core/help/help_service.dart
  skeys-app/lib/core/settings/settings_dialog.dart
  skeys-app/lib/core/settings/settings_service.dart
  skeys-app/lib/core/update/update_service.dart
Due: flutter

fix: sync key state when agent changes via daemon
  skeys-app/lib/features/keys/bloc/keys_bloc.dart
  skeys-app/lib/features/keys/presentation/widgets/add_to_agent_dialog.dart
  skeys-app/lib/features/keys/presentation/widgets/key_list_tile.dart
  skeys-app/test/features/keys/bloc/keys_bloc_test.dart
  skeys-app/test/mocks/mocks.dart
  skeys-core/agent/agent.go
  skeys-core/agent/server.go
  skeys-core/keys/service.go
  skeys-core/keys/service_test.go
  skeys-core/keys/watcher.go
  skeys-daemon/internal/server/server.go
Due: go, flutter

refactor: separate ServerConfigBloc from ConfigBloc
  CHANGELOG.md
  skeys-app/lib/core/di/injection.dart
  skeys-app/lib/features/config/bloc/config_bloc.dart
  skeys-app/lib/features/config/bloc/config_event.dart
  skeys-app/lib/features/config/bloc/server_config_bloc.dart
  skeys-app/lib/features/config/bloc/server_config_event.dart
  skeys-app/lib/features/config/bloc/server_config_state.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/config/presentation/widgets/server_config_tab.dart
  skeys-app/test/features/config/bloc/config_bloc_test.dart
  skeys-app/test/features/config/bloc/server_config_bloc_test.dart
Due: flutter

refactor: simplify AddToAgentDialog BLoC dependencies
  CHANGELOG.md
  skeys-app/lib/core/di/injection.dart
  skeys-app/lib/features/keys/bloc/keys_bloc.dart
  skeys-app/lib/features/keys/bloc/keys_event.dart
  skeys-app/lib/features/keys/bloc/keys_state.dart
  skeys-app/lib/features/keys/presentation/keys_page.dart
  skeys-app/lib/features/keys/presentation/widgets/add_to_agent_dialog.dart
  skeys-app/test/features/keys/bloc/keys_bloc_test.dart
Due: flutter

docs: document AgentBloc manual subscription pattern
  CHANGELOG.md
  skeys-app/lib/features/agent/bloc/agent_bloc.dart
Due: flutter

ci: add GitHub workflow automation
  .claude/commands/issue.md
  .github/labeler.yml
  .github/workflows/auto-merge.yml
  .github/workflows/conflict-check.yml
  .github/workflows/issue-links.yml
  .github/workflows/pr-label.yml
  CHANGELOG.md
Due: none

ci: add /review command for production-readiness audits
  .claude/commands/review.md
  CHANGELOG.md
Due: none

chore: add build artifacts to gitignore
  .gitignore
  CHANGELOG.md
Due: none

perf: optimize RemoteBloc to only refresh changed lists
  skeys-app/lib/features/remote/bloc/remote_bloc.dart
Due: flutter

feat: add retry logic with user feedback for connection tests
  CHANGELOG.md
  skeys-app/lib/features/keys/bloc/keys_bloc.dart
  skeys-app/lib/features/keys/bloc/keys_state.dart
  skeys-app/lib/features/keys/presentation/widgets/add_to_agent_dialog.dart
Due: flutter

docs: add post-merge cleanup steps to /issue workflow
  .claude/commands/issue.md
  CHANGELOG.md
Due: none

refactor: rename /review command to /code-review
  .claude/commands/CHANGELOG.md
  .claude/commands/code-review.md
  CHANGELOG.md
Due: none

chore: remove stray CHANGELOG from .claude/commands
  .claude/commands/CHANGELOG.md
  CHANGELOG.md
Due: none

fix: add error handling for SharedPreferences failures in Display settings (#13)
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_service.dart
Due: flutter

fix: add error handling for SharedPreferences failures in Display settings (#13) (#76)
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_service.dart
Due: flutter

fix: add required permissions to issue-links workflow
  .github/workflows/issue-links.yml
  CHANGELOG.md
Due: none

refactor: move branch cleanup to pre-work step in /issue workflow
  .claude/commands/issue.md
  CHANGELOG.md
Due: none

test: add comprehensive unit and widget tests for Display settings (#14)
  CHANGELOG.md
  skeys-app/test/core/settings/settings_dialog_test.dart
  skeys-app/test/core/settings/settings_service_test.dart
Due: none

fix: remove unused imports from settings_dialog_test
  CHANGELOG.md
  skeys-app/test/core/settings/settings_dialog_test.dart
Due: none

test: add comprehensive unit and widget tests for Display settings (#14) (#139)
  CHANGELOG.md
  skeys-app/test/core/settings/settings_dialog_test.dart
  skeys-app/test/core/settings/settings_service_test.dart
Due: none

fix: add required permissions to auto-merge workflow
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: none
