Repository automationaddict/skeys: changes, and which Codecov flags are due for each by the changed paths.
All: go, flutter

fix(help): add missing settings tabs to HelpNavigationService
  CHANGELOG.md
  skeys-app/lib/core/help/help_navigation_service.dart
Due: flutter

docs(settings): add comprehensive text scaling documentation and UI improvements
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/assets/docs/settings-display-text-scale.md
  skeys-app/assets/docs/settings-display.md
  skeys-app/lib/core/help/help_tree_service.dart
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

fix(settings): replace help icon with clickable inline link for text scaling help
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

fix(shell): prevent icon flickering on hot restart
  CHANGELOG.md
  skeys-app/lib/core/shell/app_shell.dart
Due: flutter

fix(shell): prevent icon flickering on hot restart (#392)
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/assets/docs/settings-display-text-scale.md
  skeys-app/assets/docs/settings-display.md
  skeys-app/lib/core/help/help_tree_service.dart
  skeys-app/lib/core/settings/settings_dialog.dart
  skeys-app/lib/core/shell/app_shell.dart
Due: flutter

fix(tests): use textContaining for partial text match
  CHANGELOG.md
  skeys-app/test/core/settings/settings_dialog_test.dart
Due: none

feat(hooks): add worktree branch verification and fix failing test
  .githooks/pre-commit
  .githooks/pre-push
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/test/core/settings/settings_dialog_test.dart
Due: none

feat(remote): fix connection status tracking and TestConnection auth
  skeys-daemon/api/gen/skeys/v1/agent_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/config_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/hosts_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/keys_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/metadata_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/remote.pb.go
  skeys-daemon/api/gen/skeys/v1/remote_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/system_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/update_grpc.pb.go
  skeys-daemon/api/gen/skeys/v1/version_grpc.pb.go
  skeys-daemon/go.mod
  skeys-daemon/internal/adapter/keys.go
  skeys-daemon/internal/adapter/keys_test.go
  skeys-daemon/internal/adapter/remote.go
  skeys-daemon/internal/server/server.go
Due: go

feat(remote): add connection pool and storage improvements
  skeys-core/remote/connection.go
  skeys-core/storage/storage.go
Due: go

feat(remote): add PushKeyToRemote RPC and connection status tracking
  proto/skeys/v1/remote.proto
Due: none

feat(remote): connection status tracking and push key UI
  proto/CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/generated/skeys/v1/remote.pb.dart
  skeys-app/lib/core/generated/skeys/v1/remote.pbjson.dart
  skeys-app/lib/core/generated/skeys/v1/update.pbjson.dart
  skeys-app/lib/core/settings/settings_service.dart
  skeys-app/lib/core/shell/app_shell.dart
  skeys-app/lib/features/keys/repository/keys_repository.dart
  skeys-app/lib/features/remote/bloc/remote_bloc.dart
  skeys-app/lib/features/remote/bloc/remote_event.dart
  skeys-app/lib/features/remote/bloc/remote_state.dart
  skeys-app/lib/features/remote/presentation/remote_page.dart
  skeys-app/lib/features/remote/presentation/widgets/select_key_dialog.dart
  skeys-app/lib/features/remote/repository/remote_repository.dart
  skeys-core/CHANGELOG.md
  skeys-daemon/CHANGELOG.md
Due: go, flutter

Path conditions:
  go: any of: skeys-core/, skeys-daemon/, but not: skeys-app/lib/core/generated/**, skeys-daemon/api/gen/**, **/*_test.go, **/test/**
  flutter: any of: skeys-app/lib/, but not: skeys-app/lib/core/generated/**, skeys-daemon/api/gen/**, **/*_test.go, **/test/**
