Repository automationaddict/skeys: changes, and which Codecov flags are due for each by the changed paths.
All: go, flutter

fix: add required permissions to auto-merge workflow (#140)
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: none

perf: add state validation to prevent unnecessary settings updates (#15)
  CHANGELOG.md
  skeys-app/lib/core/settings/settings_service.dart
  skeys-app/test/core/settings/settings_service_test.dart
Due: flutter

fix: eliminate race condition in Display settings by using ListenableBuilder
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

fix: include PR body in squash commits to enable auto-close of issues
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: none

fix: include PR body in squash commits to enable auto-close of issues (#143)
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: none

feat: add keyboard navigation and focus indicators to Display settings (#20)
  CHANGELOG.md
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

feat: add keyboard navigation and focus indicators to Display settings (#20) (#144)
  CHANGELOG.md
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

refactor: use constructor injection for SettingsService in _DisplayTab (#21)
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

fix: add validation and logging to TextScale and AppThemeMode enum loading (#22)
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_service.dart
Due: flutter

fix: add validation and logging to TextScale and AppThemeMode enum loading (#22) (#145)
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/settings/settings_service.dart
Due: flutter

fix: revert to automatic merge commit message to prevent unintended auto-close
  CHANGELOG.md
Due: none

fix: improve auto-merge reliability and branch cleanup
  .claude/commands/issue.md
  .github/workflows/auto-merge.yml
  CHANGELOG.md
Due: none

refactor: remove GetIt dependency from Display settings (#21) (#284)
  .claude/commands/issue.md
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

chore: remove overcomplicated workflow automation
  .claude/commands/issue.md
  .github/workflows/auto-merge.yml
  .github/workflows/conflict-check.yml
  .github/workflows/issue-links.yml
  CHANGELOG.md
Due: none

build(ci): bump actions/checkout from 4 to 6 (#1)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

ci: update Go version to 1.24 to match dependency requirements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: none

build(ci): bump codecov/codecov-action from 4 to 5 (#4)
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

build(go): bump github.com/pkg/sftp from 1.13.6 to 1.13.10 in /skeys-core (#5)
  CHANGELOG.md
  skeys-core/go.mod
  skeys-core/go.sum
  skeys-daemon/go.sum
Due: go

build(go): update sftp dependency in skeys-daemon to 1.13.10
  CHANGELOG.md
  skeys-daemon/go.mod
Due: go

build(go): bump google.golang.org/protobuf from 1.35.1 to 1.36.10 in /skeys-daemon (#6)
  CHANGELOG.md
  skeys-daemon/go.mod
  skeys-daemon/go.sum
Due: go

build(go): bump golang.org/x/crypto from 0.41.0 to 0.45.0 in /skeys-core (#7)
  CHANGELOG.md
  skeys-core/go.mod
  skeys-core/go.sum
Due: go

build(go): bump google.golang.org/grpc from 1.68.0 to 1.77.0 in /skeys-daemon (#8)
  CHANGELOG.md
  skeys-daemon/go.mod
  skeys-daemon/go.sum
Due: go

feat(ui): add theme preview color swatches to settings dialog
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#384)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: Add color swatch preview to theme selector (#387)
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

feat: Implement comprehensive help system with tree navigation
  .claude/commands/cleanup.md
  .claude/commands/close.md
  .claude/commands/issue.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/help/comprehensive_help_dialog.dart
  skeys-app/lib/core/help/help_tree_service.dart
  skeys-app/lib/core/help/widgets/help_tree_view.dart
  skeys-app/lib/core/settings/settings_dialog.dart
  skeys-app/lib/core/shell/app_shell.dart
  skeys-app/lib/core/widgets/app_bar_with_help.dart
  skeys-app/lib/features/agent/presentation/agent_page.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/hosts/presentation/hosts_page.dart
  skeys-app/lib/features/keys/presentation/keys_page.dart
  skeys-app/lib/features/remote/presentation/remote_page.dart
  skeys-app/lib/features/server/presentation/server_page.dart
Due: flutter

fix: Update settings dialog help button to use comprehensive help
  skeys-app/lib/core/settings/settings_dialog.dart
Due: flutter

fix: Add reactive clear button to search boxes in help dialogs
  skeys-app/lib/core/help/comprehensive_help_dialog.dart
  skeys-app/lib/core/help/help_panel.dart
Due: flutter

fix: Wrap page shortcuts in Focus widget to enable F1 key
  skeys-app/lib/features/agent/presentation/agent_page.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/hosts/presentation/hosts_page.dart
  skeys-app/lib/features/keys/presentation/keys_page.dart
  skeys-app/lib/features/remote/presentation/remote_page.dart
  skeys-app/lib/features/server/presentation/server_page.dart
Due: flutter

feat(help): make help panel persist when navigating between pages
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/help/help_context_service.dart
  skeys-app/lib/features/agent/presentation/agent_page.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/hosts/presentation/hosts_page.dart
  skeys-app/lib/features/keys/presentation/keys_page.dart
  skeys-app/lib/features/remote/presentation/remote_page.dart
  skeys-app/lib/features/server/presentation/server_page.dart
Due: flutter

fix(help): handle skeys://settings links in comprehensive help dialog
  CHANGELOG.md
  skeys-app/lib/core/help/comprehensive_help_dialog.dart
Due: flutter

feat: Implement comprehensive help system with tree navigation (#389)
  .claude/commands/cleanup.md
  .claude/commands/close.md
  .claude/commands/issue.md
  CHANGELOG.md
  skeys-app/CHANGELOG.md
  skeys-app/lib/core/help/comprehensive_help_dialog.dart
  skeys-app/lib/core/help/help_context_service.dart
  skeys-app/lib/core/help/help_panel.dart
  skeys-app/lib/core/help/help_tree_service.dart
  skeys-app/lib/core/help/widgets/help_tree_view.dart
  skeys-app/lib/core/settings/settings_dialog.dart
  skeys-app/lib/core/shell/app_shell.dart
  skeys-app/lib/core/widgets/app_bar_with_help.dart
  skeys-app/lib/features/agent/presentation/agent_page.dart
  skeys-app/lib/features/config/presentation/config_page.dart
  skeys-app/lib/features/hosts/presentation/hosts_page.dart
  skeys-app/lib/features/keys/presentation/keys_page.dart
  skeys-app/lib/features/remote/presentation/remote_page.dart
  skeys-app/lib/features/server/presentation/server_page.dart
Due: flutter

feat(help): add index page, SSH overview, and glossary to help system
  .claude/commands/close.md
  CHANGELOG.md
  skeys-app/assets/docs/glossary.md
  skeys-app/assets/docs/index.md
  skeys-app/assets/docs/ssh-overview.md
  skeys-app/lib/core/help/comprehensive_help_dialog.dart
  skeys-app/lib/core/help/help_tree_service.dart
Due: flutter

feat(help): add Quick Start, Installation, FAQ, and Troubleshooting guides
  CHANGELOG.md
  skeys-app/assets/docs/faq.md
  skeys-app/assets/docs/install.md
  skeys-app/assets/docs/quick-start.md
  skeys-app/assets/docs/troubleshooting.md
  skeys-app/lib/core/help/help_tree_service.dart
Due: flutter

Path conditions:
  go: any of: skeys-core/, skeys-daemon/, but not: skeys-app/lib/core/generated/**, skeys-daemon/api/gen/**, **/*_test.go, **/test/**
  flutter: any of: skeys-app/lib/, but not: skeys-app/lib/core/generated/**, skeys-daemon/api/gen/**, **/*_test.go, **/test/**
